<section class="eco-section">
  <picture>
    <source 
    media="(min-width: 1440px)"
    srcset="
    src/img/about/about-comp-1x.jpg 1x,
    src/img/about/about-comp-2x.jpg 2x
    "
    />
    <source
    media="(min-width: 768px)"
    srcset="
    src/img/about/about-tab-1x.jpg 1x,
    src/img/about/about-tab-2x.jpg 2x
    "
    />
     <source
    media="(min-width: 320px)"
    srcset="
    /src/img/about/about-mob-1x.jpg 1x,
    /src/img/about/about-comp-2x.jpg 2x
    "
    />
    <img src="/src/img/about/about-1x.jpg"/>
    <div class="eco-section__content">

    <p class="eco-section__subtitle">Природність</p>
    <h2 class="eco-section__title">Турбота про планету</h2>
    <p class="eco-section__text">
      Ми використовуємо органічну бавовну, перероблений пластик, льон та коноплі для наших сумок.
    </p>
  </div>
  </picture>
</section>
