<section class="gallery section">
  <div class="container">
    <h2 class="gallery-title">Галерея зображень</h2>
    <h3 class="gallery-subtitle">EcoTotes у повсякденному житті</h3>
    <ul class="gallery-grid">
      <li class="item1">
        <picture>
          <source
            media="(max-width: 768px)"
            srcset="
              /img/gallery-1-mobile.png    1x,
              /img/gallery-1-mobile@2x.png 2x
            "
          />
          <source
            media="(max-width: 1440px)"
            srcset="/img/gallery-1-tab.png 1x, /img/gallery-1-tab@2x.png 2x"
          />
          <img
            src="/img/gallery-1-dsc.png"
            srcset="/img/gallery-1-dsc.png 1x, /img/gallery-1-dsc@2x.png 2x"
            alt="Eco bag on chair"
          />
        </picture>
      </li>
      <li class="item2">
        <picture>
          <source
            media="(max-width: 768px)"
            srcset="
              /img/gallery-2-mobile.png    1x,
              /img/gallery-2-mobile@2x.png 2x
            "
          />
          <source
            media="(max-width: 1440px)"
            srcset="/img/gallery-2-tab.png 1x, /img/gallery-2-tab@2x.png 2x"
          />
          <img
            src="/img/gallery-2-dsc.png"
            srcset="/img/gallery-2-dsc.png 1x, /img/gallery-2-dsc@2x.png 2x"
            alt="Man with tote bag"
          />
        </picture>
      </li>
      <li class="item3">
        <picture>
          <source
            media="(max-width: 768px)"
            srcset="
              /img/gallery-3-mobile.png    1x,
              /img/gallery-3-mobile@2x.png 2x
            "
          />
          <source
            media="(max-width: 1440px)"
            srcset="/img/gallery-3-tab.png 1x, /img/gallery-3-tab@2x.png 2x"
          />
          <img
            src="/img/gallery-3-dsc.png"
            srcset="/img/gallery-3-dsc.png 1x, /img/gallery-3-dsc@2x.png 2x"
            alt="Person with recycle bag"
          />
        </picture>
      </li>
      <li class="item4">
        <picture>
          <source
            media="(max-width: 768px)"
            srcset="
              /img/gallery-4-mobile.png    1x,
              /img/gallery-4-mobile@2x.png 2x
            "
          />
          <source
            media="(max-width: 1440px)"
            srcset="/img/gallery-4-tab.png 1x, /img/gallery-4-tab@2x.png 2x"
          />
          <img
            src="/img/gallery-4-dsc.png"
            srcset="/img/gallery-4-dsc.png 1x, /img/gallery-4-dsc@2x.png 2x"
            alt="Woman with vegetables"
          />
        </picture>
      </li>
    </ul>
    <h2 class="gallery-title">Галерея зображень</h2>
    <h3 class="gallery-subtitle">EcoTotes у повсякденному житті</h3>
    <ul class="gallery-grid">
      <li class="item1">
        <picture>
          <source
            media="(max-width: 768px)"
            srcset="
              /img/gallery-1-mobile.png    1x,
              /img/gallery-1-mobile@2x.png 2x
            "
          />
          <source
            media="(max-width: 1440px)"
            srcset="/img/gallery-1-tab.png 1x, /img/gallery-1-tab@2x.png 2x"
          />
          <img
            src="/img/gallery-1-dsc.png"
            srcset="/img/gallery-1-dsc.png 1x, /img/gallery-1-dsc@2x.png 2x"
            alt="Eco bag on chair"
          />
        </picture>
      </li>
      <li class="item2">
        <picture>
          <source
            media="(max-width: 768px)"
            srcset="
              /img/gallery-2-mobile.png    1x,
              /img/gallery-2-mobile@2x.png 2x
            "
          />
          <source
            media="(max-width: 1440px)"
            srcset="/img/gallery-2-tab.png 1x, /img/gallery-2-tab@2x.png 2x"
          />
          <img
            src="/img/gallery-2-dsc.png"
            srcset="/img/gallery-2-dsc.png 1x, /img/gallery-2-dsc@2x.png 2x"
            alt="Man with tote bag"
          />
        </picture>
      </li>
      <li class="item3">
        <picture>
          <source
            media="(max-width: 768px)"
            srcset="
              /img/gallery-3-mobile.png    1x,
              /img/gallery-3-mobile@2x.png 2x
            "
          />
          <source
            media="(max-width: 1440px)"
            srcset="/img/gallery-3-tab.png 1x, /img/gallery-3-tab@2x.png 2x"
          />
          <img
            src="/img/gallery-3-dsc.png"
            srcset="/img/gallery-3-dsc.png 1x, /img/gallery-3-dsc@2x.png 2x"
            alt="Person with recycle bag"
          />
        </picture>
      </li>
      <li class="item4">
        <picture>
          <source
            media="(max-width: 768px)"
            srcset="
              /img/gallery-4-mobile.png    1x,
              /img/gallery-4-mobile@2x.png 2x
            "
          />
          <source
            media="(max-width: 1440px)"
            srcset="/img/gallery-4-tab.png 1x, /img/gallery-4-tab@2x.png 2x"
          />
          <img
            src="/img/gallery-4-dsc.png"
            srcset="/img/gallery-4-dsc.png 1x, /img/gallery-4-dsc@2x.png 2x"
            alt="Woman with vegetables"
          />
        </picture>
      </li>
    </ul>
  </div>
</section>
