<header class="header">
  <div class="container">
    <a class="logo-link" href="">
      <svg class="logo-svg logo-svg-mobile" width="84" height="36">
        <use href="/img/logo-mobile.svg"></use>
      </svg>
      <svg class="logo-svg logo-svg-desktop" width="104" height="39">
        <use href="/img/logo-desktop.svg"></use>
      </svg>
    </a>

    <nav class="main-nav">
      <ul class="main-nav__list">
        <li class="main-nav__item">
          <a class="main-nav__link" href="#hero" disabled>Про нас</a>
        </li>
        <li class="main-nav__item">
          <a class="main-nav__link" href="#advantages">Переваги</a>
        </li>
        <li class="main-nav__item">
          <a class="main-nav__link" href="#assortment">Асортимент</a>
        </li>
        <li class="main-nav__item">
          <a class="main-nav__link" href="#gallery">Галерея</a>
        </li>
        <li class="main-nav__item">
          <a class="main-nav__link" href="#feedbacks">Відгуки</a>
        </li>
        <li class="main-nav__item">
          <a class="main-nav__link" href="#support">Контакти</a>
        </li>
      </ul>
    </nav>

    <address class="contacts">
      <ul class="contacts__list">
        <li class="contacts__item">
          <a class="contacts__link" href="tel:+380999091122"
            >+38 (099) 909 11 22</a
          >
        </li>
        <li class="contacts__item">
          <a class="contacts__link" href="mailto:hello@ecotote.com"
            >hello@ecotote.com</a
          >
        </li>
      </ul>
    </address>

    <button class="burger-menu-button" type="button">
      <svg class="burger-menu__icon" width="32" height="32">
        <use href="../img/icons.svg#icon-burger-menu"></use>
      </svg>
    </button>
  </div>
</header>
