<section class="hero section">
  <div class="container">

    
    <h1 class="hero-title">EcoTote — Стиль, що не шкодить планеті</h1>

    
    <div class="hero-info">
      <p class="hero-description">Екологічні сумки для тих, хто дбає про майбутнє.
        Обирайте стиль та відповідальність разом з EcoTote.
      </p>
      <a href="#assortment" class="hero-button">Купити зараз</a>
    </div>

    
    <div class="hero-image-wrapper">
      <picture>
        <source media="(min-width: 768px)" srcset="./img/hero-desktop.png">
        <img src="./img/hero-mobile.png" alt="Екологічні сумки EcoTote" class="hero-image">
      </picture>
    </div>

  </div>
</section>