/* Контейнер для мобільних пристроїв */
.container {
  min-width: 320px;
  margin: 0 auto;
  padding: 0 16px;
}
/* Контейнер для таблету */
@media only screen and (min-width: 768px) {
  .container {
    min-width: 768px;
    padding: 0 32px;
    margin: 0 auto;
  }
}
/* Контейнер для десктопу */
@media screen and (min-width: 1440px) {
  .container {
    min-width: 1440px;
    padding: 0px 64px;
    margin: 0 auto;
  }
}

.section {
  padding: 60px 0;
  margin: 64px 0;
}
